{% extends 'layouts/default.twig' %}
{% set body_class = 'about-page' %}
{% set head_title = 'About Us' %}
{% block page %}

			<div class="page-content">
				<div class="breadcrumb-page" data-aos="fade-in">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index.html">
										<span class="fa fa-home"></span>
									</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">About Us</li>
							</ol>
						</nav>
					</div>
				</div>
				<section class="about">
					<div class="container">
						<div class="title-page" data-aos="fade-in">
							<h3 class="font-text-bold">About Us</h3>
						</div>
						<div class="about-inside">
							<div class="content-area">
								<div class="image-area" data-aos="fade-in">
									<figure>
										<img src="https://lumbatech.com/files/Detail/tentang%20kami.jpg" alt="">
									</figure>
								</div>
								<div class="article-area" data-aos="fade-in">
									<div class="article-row">
										<div class="article-group">
											<article>
												<p>
													Lumbatech adalah perusahaan security system yang berlokasi di Bekasi dan Jakarta, Lumbatech memiliki komitmen untuk meningkatkan mutu pelayanan dengan mendistribusikan produk berkualitas, after sales terbaik, tim instalasi handal dan pelayanan profesional. Seluruh produk yang kami tawarkan kepada pelanggan kami adalah produk yang telah memenuhi ISO 9001 = Standar Kualitas / Mutu, ISO 14001 = Standar Lingkungan. Produk asli ada di lumba technologies. Kunci Digital adalah spesialis kami, konsultasi dan instalasi serta pelayanan purna jual kami jadikan hal utama bagi setiap pelanggan lumbatech.com.
												</p>
												<p>
													Didirikan dengan nama PT. Lumba Karya Asia (Lumbatech) menjadi distributor dan supplier yang sudah terdaftar resmi sebagai penyedia produk dengan brand ternama dan sudah teruji di security system untuk kebutuhan sistem keamanan perumahan, kantor, pabrik, apartement, mobile smart key system seperti : Mesin absensi sidik jari, mesin absensi karyawan, Mesin Absensi Wajah, vena fingerprint dan akses kontrol sistem yang dapat digunakan indoor maupun outdoor baik standalone sampai terhubung dengan IP/LAN System, jual kunci pintu digital, alarm kendaraan, alarm motor, alarm mobil, kunci rahasia kendaraan, kunci anti maling, kunci anti maling.
												</p>
												<p>
													Khusus untuk melengkapi permintaan pelanggan, pertama di indonesia Lumbatech menyediakan wireless call system (Tombol pemanggil tanpa kabel) untuk meningkatkan pelayanan dan efisiensi bisnis Anda seperti : bell restoran, nurse call system untuk rumah sakit dan klinik, terapis call, emergency call, Queue system (sistem antrian tanpa kabel), supervisor/manager call, dengan teknologi Korea.Sensor Saklar Lampu AR 003 , Eco saver juga tersedia dan melayani Cetak Kartu RFID / kartu proximity EM 125kHz -0.8(Tipis), 1.8 (Tebal),Mifare, HID ISO PROX II,HID PROXCARD II.
												</p>
												<p>
													Jujur, ramah dan profesional dalam pelayanan adalah yang utama bagi Lumbatech.
												</p>
											</article>
										</div>
									</div>
									<div class="article-row row no-gutters">
										<div class="col-md-6">
											<div class="article-group">
												<div class="title-detail" data-aos="fade-in">
													<h5 class="font-text-bold">Visi</h5>
												</div>
												<article data-aos="fade-in">
													<p>
														Visi kami adalah menjadi pemimpin dalam solusi sistem keamanan terintegrasi yang inovatif dan andal, memberdayakan bisnis di seluruh Indonesia.
													</p>
												</article>
											</div>
										</div>
										<div class="col-md-6">
											<div class="article-group">
												<div class="title-detail" data-aos="fade-in">
													<h5 class="font-text-bold">Misi</h5>
												</div>
												<article data-aos="fade-in">
													<p>
														Misi kami adalah menyediakan solusi keamanan yang efisien, aman dan fleksibel, bersamanan dengan mendukung karya anak bangsa dan memastikan kedaulatan data untuk setiap bisnis.
													</p>
												</article>
											</div>
										</div>
										<div class="col-md-6">
											<div class="article-group">
												<div class="title-detail" data-aos="fade-in">
													<h5 class="font-text-bold">Sejarah</h5>
												</div>
												<article data-aos="fade-in">
													<p>
														Berawal dari pengalaman kami dalam sistem keamanan fisik, kami telah berkembang menjadi solusi <i>Smart Building Ecosystem</i> yang lengkap.
													</p>
												</article>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

{% endblock %}