{% extends 'layouts/default.twig' %}
{% set body_class = 'news-page' %}
{% set head_title = 'News' %}
{% block page %}

			<div class="page-content">
				<div class="breadcrumb-page" data-aos="fade-in">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index.html">
										<span class="fa fa-home"></span>
									</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Berita dan Artikel</li>
							</ol>
						</nav>
					</div>
				</div>
				<section class="news">
					<div class="container">
						<div class="title-page with-share" data-aos="fade-in">
							<h3 class="font-text-bold">Berita dan Artikel</h3>
						</div>
						<div class="news-inside">
							<div class="row no-gutters">
								<div class="col-md-4 col-lg-3">
									<div class="sidebar-news" data-aos="zoom-in">
										<div class="sidebar-category">
											<div class="sidebar-group">
												<h5 class="font-text-bold">
													<span>Kategori</span>
												</h5>
												<ul class="sidebar-list">
													<li>
														<a href="#">
															<span>Access Control</span>
															<span class="icon fa fa-angle-right"></span>
														</a>
													</li>
													<li>
														<a href="#">
															<span>Uncategorized</span>
															<span class="icon fa fa-angle-right"></span>
														</a>
													</li>
												</ul>
											</div>
											<div class="sidebar-group">
												<h5 class="font-text-bold">
													<span>Recent Posts</span>
												</h5>
												<ul class="sidebar-list">
													<li>
														<a href="news-detail.html">
															<span class="text-ellipsis overflow-hidden line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</span>
															<span class="icon fa fa-angle-right"></span>
														</a>
													</li>
													<li>
														<a href="news-detail.html">
															<span class="text-ellipsis overflow-hidden line-clamp-2">Regulasi dan Standar Terkait Muster Zone</span>
															<span class="icon fa fa-angle-right"></span>
														</a>
													</li>
													<li>
														<a href="news-detail.html">
															<span class="text-ellipsis overflow-hidden line-clamp-2">Integrasi Muster Zone dengan Sistem Akses Kontrol</span>
															<span class="icon fa fa-angle-right"></span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-8 col-lg-9">
									<div class="content-area">
										<div class="content-wrapper">
											<div class="row no-gutters">
												<div class="col-md-6 col-lg-4">
													<div class="thumbnail-info model-2" data-aos="zoom-in">
														<div class="thumbnail-wrapper">
															<div class="image-area">
																<figure>
																	<img src="https://simplo.id/wp-content/uploads/2025/01/Studi-Kasus-Penerapan-Access-Control-dalam-Gedung-Penerapan-access-control-telah-menjadi-elemen-penting-dalam-menjaga-keamanan-gedung-di-berbagai-sektor.-Dalam-konteks-gedung-modern-sistem-ini-ti.png" alt="">
																</figure>
															</div>
															<div class="info-area">
																<span class="category-label text-ellipsis overflow-hidden line-clamp-1">17 Januari 2025</span>
																<p class="font-text-bold text-ellipsis overflow-hidden line-clamp-2">Studi Kasus Penerapan Access Control dalam Gedung</p>
																<p class="desc-info">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
																</p>
															</div>
															<a href="news-detail.html" class="click-area"></a>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-lg-4">
													<div class="thumbnail-info model-2" data-aos="zoom-in">
														<div class="thumbnail-wrapper">
															<div class="image-area">
																<figure>
																	<img src="https://simplo.id/wp-content/uploads/2025/01/Regulasi-dan-Standar-Terkait-Muster-Zone.png" alt="">
																</figure>
															</div>
															<div class="info-area">
																<span class="category-label text-ellipsis overflow-hidden line-clamp-1">16 Januari 2025</span>
																<p class="font-text-bold text-ellipsis overflow-hidden line-clamp-2">Regulasi dan Standar Terkait Muster Zone</p>
																<p class="desc-info">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
																</p>
															</div>
															<a href="news-detail.html" class="click-area"></a>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-lg-4">
													<div class="thumbnail-info model-2" data-aos="zoom-in">
														<div class="thumbnail-wrapper">
															<div class="image-area">
																<figure>
																	<img src="https://simplo.id/wp-content/uploads/2025/01/Brainstroming-Bareng-Simplo-Team.png" alt="">
																</figure>
															</div>
															<div class="info-area">
																<span class="category-label text-ellipsis overflow-hidden line-clamp-1">16 Januari 2025</span>
																<p class="font-text-bold text-ellipsis overflow-hidden line-clamp-2">Integrasi Muster Zone dengan Sistem Akses Kontrol</p>
																<p class="desc-info">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
																</p>
															</div>
															<a href="news-detail.html" class="click-area"></a>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-lg-4">
													<div class="thumbnail-info model-2" data-aos="zoom-in">
														<div class="thumbnail-wrapper">
															<div class="image-area">
																<figure>
																	<img src="https://simplo.id/wp-content/uploads/2025/01/Sinergi-Teknologi-dalam-Sistem-Akses-Kontrol.png" alt="">
																</figure>
															</div>
															<div class="info-area">
																<span class="category-label text-ellipsis overflow-hidden line-clamp-1">15 Januari 2025</span>
																<p class="font-text-bold text-ellipsis overflow-hidden line-clamp-2">IoT dan MusterZone: Sinergi Teknologi dalam Sistem Akses Kontrol</p>
																<p class="desc-info">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
																</p>
															</div>
															<a href="news-detail.html" class="click-area"></a>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-lg-4">
													<div class="thumbnail-info model-2" data-aos="zoom-in">
														<div class="thumbnail-wrapper">
															<div class="image-area">
																<figure>
																	<img src="https://simplo.id/wp-content/uploads/2025/01/Teknologi-dalam-Mustezone-untuk-Akses-Kontrol.png" alt="">
																</figure>
															</div>
															<div class="info-area">
																<span class="category-label text-ellipsis overflow-hidden line-clamp-1">2 Januari 2025</span>
																<p class="font-text-bold text-ellipsis overflow-hidden line-clamp-2">Teknologi dalam Musterzone untuk Akses Kontrol</p>
																<p class="desc-info">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
																</p>
															</div>
															<a href="news-detail.html" class="click-area"></a>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-lg-4">
													<div class="thumbnail-info model-2" data-aos="zoom-in">
														<div class="thumbnail-wrapper">
															<div class="image-area">
																<figure>
																	<img src="https://simplo.id/wp-content/uploads/2024/11/Mengoptimalkan-Keamanan-Kantor-dengan-Integrasi-Visitor-Management-System-dan-Sistem-Modern-29.png" alt="">
																</figure>
															</div>
															<div class="info-area">
																<span class="category-label text-ellipsis overflow-hidden line-clamp-1">7 Desember 2024</span>
																<p class="font-text-bold text-ellipsis overflow-hidden line-clamp-2">Perbedaan Instalasi Sistem Akses Centralized dan Distributed</p>
																<p class="desc-info">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
																</p>
															</div>
															<a href="news-detail.html" class="click-area"></a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="paging-area">
											<nav aria-label="Product navigation">
												<ul class="pagination justify-content-center">
													<li class="page-item disabled" data-aos="zoom-in">
														<!-- <a class="page-link">
															<span class="fa fa-angle-left"></span>
														</a> -->
														<span class="page-link">
															<span class="fa fa-angle-left"></span>
														</span>
													</li>
													<li class="page-item" data-aos="zoom-in">
														<a class="page-link" href="#">1</a>
													</li>
													<li class="page-item active" aria-current="page" data-aos="zoom-in">
														<span class="page-link">2</span>
													</li>
													<li class="page-item" data-aos="zoom-in">
														<a class="page-link" href="#">3</a>
													</li>
													<li class="page-item" data-aos="zoom-in">
														<a class="page-link" href="#">
															<span class="fa fa-angle-right"></span>
														</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

{% endblock %}