 .news {
	padding: 2rem 0 4rem;

	.news-inside {
		.row {
			[class*="col-"] {
				+ [class*="col-"] {
					margin-top: 2rem;
					
					@include breakpoint(tablet) {
						margin-top: 0;
					}
				}
			}
		}
	}

	.content-area {
		@include breakpoint(tablet) {
			margin-top: -10px;
			padding-left: 20px;
		}

		@include breakpoint(wide) {
			padding-left: 30px;
		}

		.content-wrapper {
			+ .paging-area {
				margin-top: 2rem;
			}
		}

		.row {
			[class*="col-"] {
				+ [class*="col-"] {
					margin-top: 0.5rem;
					
					@include breakpoint(tablet) {
						margin-top: 0;
					}
				}
			}
		}
	}
}