		<footer id="footer">
			<div class="nav-top">
				<div class="container">
					<div class="footer-wrapper">
						<div class="row justify-content-between align-items-center">
							<div class="col-md-5">
								<div class="footer-logo" data-aos="fade-in">
									<a href="#">
										<figure>
											<img src="../assets/img/logo-white.png" alt="Simplo">
										</figure>
									</a>
								</div>
							</div>
							<div class="col-md-5">
								<div class="footer-sosmed">
									<ul class="content-list social flat">
										<li class="linkedin" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="fab fa-linkedin"></i>
											</a>
										</li>
										<li class="facebook" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li class="instagram" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li class="youtube" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="fab fa-youtube"></i>
											</a>
										</li>
										<li class="tiktok" data-aos="zoom-in">
											<a href="#" target="_blank">
												<i class="icon-buttom fa-tiktok"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="nav-bottom">
				<div class="container">
					<p>Copyright © 2025 Simplo. All Rights Reserved</p>
				</div>
			</div>
		</footer>