<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="index, follow" />
		<meta name="generator" content="All in One SEO (AIOSEO) 4.6.6" />
		<title>{{ head_title }} &middot; Simplo - Solusi Integrasi Sistem Keamanan Terbaik di Indonesia</title>
		<meta name="description" content="Simplo Solusi Cerdas Untuk Sistem Keamanan TerintegrasiKami Membawa Inovasi Anak Bangsa dalam Sistem Keamanan Anda Call To Action ABOUT US VISI Visi kami adalah menjadi pemimpin dalam solusi sistem keamanan terintegrasi yang inovatif dan andal, memberdayakan bisnis di seluruh Indonesia. MISIMisi kami adalah menyediakan solusi keamanan yang efisien, aman dan fleksibel, bersamanan dengan mendukung karya anak bangsa dan">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
		<link rel="profile" href="https://gmpg.org/xfn/11">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@aliaraaab"/>
		<meta name="twitter:title" content="HOME - Simplo - Solusi Integrasi Sistem Keamanan Terbaik di Indonesia"/>
		<meta name="twitter:creator" content="@aliaraaab" />
		<meta name="twitter:description" content="Simplo Solusi Cerdas Untuk Sistem Keamanan TerintegrasiKami Membawa Inovasi Anak Bangsa dalam Sistem Keamanan Anda Call To Action ABOUT US VISI Visi kami adalah menjadi pemimpin dalam solusi sistem keamanan terintegrasi yang inovatif dan andal, memberdayakan bisnis di seluruh Indonesia. MISIMisi kami adalah menyediakan solusi keamanan yang efisien, aman dan fleksibel, bersamanan dengan mendukung karya anak bangsa dan"/>
		<meta name="twitter:image:src" content="https://simplo.id/wp-content/uploads/2024/07/WhatsApp_Image_2024-07-03_at_14.26.18_3865a286-removebg-preview.png"/>
		<meta name="keyword" content="Keyword Here">
		<meta property="og:locale" content="id_ID" />
		<meta property="og:site_name" content="Simplo - Solusi Integrasi Sistem Keamanan Terbaik di Indonesia - Saatnya Tingkatkan Produktivitas dan Keamanan dengan Solusi Terintegrasi dari Simplo"/>
		<meta property="og:title" content="HOME - Simplo - Solusi Integrasi Sistem Keamanan Terbaik di Indonesia"/>
		<meta property="og:url" content="https://simplo.id/"/>
		<meta property="og:description" content="Simplo Solusi Cerdas Untuk Sistem Keamanan TerintegrasiKami Membawa Inovasi Anak Bangsa dalam Sistem Keamanan Anda Call To Action ABOUT US VISI Visi kami adalah menjadi pemimpin dalam solusi sistem keamanan terintegrasi yang inovatif dan andal, memberdayakan bisnis di seluruh Indonesia. MISIMisi kami adalah menyediakan solusi keamanan yang efisien, aman dan fleksibel, bersamanan dengan mendukung karya anak bangsa dan" >
		<meta property="og:image" content="https://simplo.id/wp-content/uploads/2024/07/WhatsApp_Image_2024-07-03_at_14.26.18_3865a286-removebg-preview.png"/>
		<meta property="og:image:secure_url" content="https://simplo.id/wp-content/uploads/2024/07/WhatsApp_Image_2024-07-03_at_14.26.18_3865a286-removebg-preview.png" />
		<meta property="og:image:width" content="500" />
		<meta property="og:image:height" content="500" />
		<meta property="og:type" content="article" />
		<link rel="canonical" href="https://simplo.id/"/>

		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="css/main.css">

		<!-- Pemanggilan GTM -->
		{# <script>
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-MMTX7HV');
		</script> #}
		<!-- End Google Tag Manager -->
	</head>

	<body {% if body_class is defined and body_class is not empty %} class="{{ body_class }}"{% endif %}>

		<!-- Google Tag Manager (noscript) -->
		{# <noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMTX7HV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript> #}
		<!-- End Google Tag Manager (noscript) -->

		<header class="header-fix">
			<div class="container-fluid">
				<nav class="header-menu">
					<div class="search-web">
						<div class="search-input" data-aos="zoom-in">
							<button type="button" class="button button-search">
								<span class="fa fa-search"></span>
							</button>
						</div>
					</div>
					<div class="header-logo">
						<h1 class="brand-logo" data-aos="zoom-in">
							<a href="index.html">
								<span class="logo"></span>
								<strong>Simplo</strong>
							</a>
						</h1>
					</div>
					<div class="toggle-down">
						<div class="menu-toggle-btn" data-aos="zoom-in">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</nav>
				<div class="search-field">
					<form id="search-form">
						<input type="text" class="search-text" name="" placeholder="Search here....">
						<input type="hidden" name="">
					</form>
				</div>
			</div>
		</header>
		<div class="burger-menu">
			<div class="backdrop"></div>
			<div class="menu">
				<button class="close-toggle">
					<span class="fa fa-times"></span>
				</button>
				<ul>
					<li data-aos="fade-left">
						<a class="font-text-bold" href="product.html">Produk Kami</a>
					</li>
					<li data-aos="fade-left">
						<a class="font-text-bold active" href="news.html">Berita dan Artikel</a>
					</li>
					<li data-aos="fade-left">
						<a class="font-text-bold" href="about.html">Tentang Kami</a>
					</li>
					<li data-aos="fade-left">
						<a class="font-text-bold" href="faq.html">FAQ</a>
					</li>
					<li data-aos="fade-left">
						<a class="font-text-bold" href="contact.html">Hubungi Kami</a>
					</li>
				</ul>
			</div>
		</div>
		<main id="main">
{% block page %}{% endblock %}
			<div class="floating-button inquiry-button">
				<div class="button-wrapper">
					<a href="#" class="button-inside">
						<span class="arrow"></span>
						<strong>?</strong>
						<small>Inquiry</small>
					</a>
				</div>
			</div>
			<div class="floating-button back-top">
				<div class="button-wrapper">
					<a href="#main" class="button-inside is-scroll">
						<span class="icon-arrow"></span>
					</a>
				</div>
			</div>
		</main>
{% include '../partials/footer.twig' %}
		<script src="js/vendor.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/main.min.js"></script>
	</body>
</html>
